
:root{
    --white-hsl: hsl(0,0%,100%);
    --black-hsl: hsl(0,0%,0%);
    --safeLightAccent-hsl: hsl(204.39,79.49%,38.24%);
    --safeDarkAccent-hsl: hsl(204.39,79.49%,38.24%);
    --safeInverseAccent-hsl: 0,0%,100%;
    --safeInverseLightAccent-hsl: 0,0%,100%;
    --safeInverseDarkAccent-hsl: hsl(0,0%,100%);
    --accent-hsl: hsl(204.39,79.49%,38.24%);
    --lightAccent-hsl: hsl(240,10.53%,92.55%);
    --darkAccent-hsl: hsl(209.23,52.7%,70.98%);
 }


 body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--black-hsl);
    background-color: var(--lightAccent-hsl);
}

section{
    width: 100%;
    height: 100vh; 
    position: absolute;   
    top: -100vh;
    opacity: 0;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.active{
    top: 0;
    opacity: 1;
}
/* 
html{
    scroll-snap-type: y mandatory;
}




    /* 
     


    scroll-snap-align: start;
    scroll-snap-stop: always;


    opacity: 0;*/
    /* animation: fade-in 0.5s linear none 1 forwards forwards;
    animation-timeline: scroll(self); */



/*
section.active{
    opacity: 1;
    top: 0;
} */


